.container_white {
      border: 1px solid #000;
      background-color: #f8f9fa;
      text-align: center;
      padding: 20px;
      margin: 5px 0;
      color: rgb(0, 0, 0);  
    }

  .container_white_form {
      border: 1px solid #ffffff;
      background-color: #f8f9fa;
      text-align: left;
      padding: 20px;
      margin: 5px 0;
      color: rgb(0, 0, 0);  
    }

body {
    background-color: black;   
    color: white;              /* makes text readable */
}

#slogan{
      font-size: x-large;
      color: white;              /* makes text readable */
}

h1 {
    font-size: xxx-large;   
}

h3 {
    font-size: x-large;   
    color: rgb(11, 212, 64);              /* makes text readable */
    font-weight: bold;
}

p {
  font-size: 1.5rem; 
  color: rgb(0, 0, 0);              /* makes text readable */
  text-align: center

}

li {
  font-size: 1.5rem; 
}

.scaled-img {
  /* This class is used to scale down images to differented sized pictures look similar when displayed side by side */
  max-width: 600px;   /* limit horizontal size */
  max-height: 250px;  /* limit vertical size */
  object-fit: cover;  /* crop to fit while preserving aspect ratio */
}

.scaled-img:hover {
  /* Draw a black border around the image when hovering mouse nearby */
  object-fit: cover;  /* crop to fit while preserving aspect ratio */
  border: 2px solid rgb(0, 0, 0);
}

.logo-img {
 
  max-width: 100px;   /* limit horizontal size */
  max-height: 100px;  /* limit vertical size */
  object-fit: cover;  /* crop to fit while preserving aspect ratio */
}